html, body {  width: 100%;    height: 100%; }
body {
    padding-top: 10px;
  
 margin-top: -5px;  font-family: 'Open Sans', sans-serif; font-size:12px; color:#666;
}

.principal{
    padding: 10px 15px;
    text-align: center;
}

@media (max-width:800px){
#logo { width: 60%; }
#loginbox{ width:80%}
}
@media (max-width: 480px){
#logo { width: 40%; }
#loginbox{ width:90%}
#loginbox .control-group{ padding:8px 0; margin-bottom:0px;}
}

#fotoOS{
    max-width: 100px; 
    max-height: 80px;
}


.RodapeOS{
    margin-top: 10px;
    color: #d9534f;
    
}